.vcard{
	@include flex-row;
	img.avatar{
		width:100px;
		height:100px;
		border-radius:100px;
		border:5px solid $theme-medium;
	}
	.comment-details{
		@include flex-column;
		@include flex-push;
		justify-content: center;
		margin-left:1em;
		.commentmetadata{
			font-size:0.75em;
		}
	}
}
.comment-content{
	margin-left:calc(100px + 1em);
	margin-bottom:$white-space-large-rem;
}
cite{
	color:#1d7a99;
	font-weight:bold;
}
#comments{
	ul{
		list-style: none;
		li{
			width:95%;
			min-width: 200px;
			list-style-position: outside;
			text-indent:0;
			padding-left:0;
			margin:0 0 0 5%;
		}
	}
}
.comment-respond{
	padding:0.5em;
	margin:0.5em 0 $white-space-large-rem 0;
	background:$color-light-500;
	border: 1px solid $color-medium-500;
}
.comment-form-comment{
	label{display:none;}
}
.comment-body{
	padding:0.5em;
	margin:0.5em 0 $white-space-large-rem 0.5em;
	background:$color-light-500;
	border: 1px solid $color-medium-500;
}
#respond{
	border-left:5px solid $color-accent-500;;
	input[type="submit"]{
		bottom:-2.5rem;
	}
}
a#cancel-comment-reply-link{
	display: inline-block;
	font-size: $size-font-small;
	transition: $smooth-transition;
	text-decoration: none;
	z-index:10;
	&:hover{
		@include hover-hand;
		color: $color-warn-500;
		text-decoration: none;
	}
}
#comment{
	width:100%;
}
