
form#contactForm{
	//top:100px;
	@include flex-column;
	@include flex-center;
	align-items: center;
	width:60%;
	height:calc(100vh - 200px);
	min-height:700px;
	margin: 0 auto;
	h1,h2,h3{
		text-align: center;
	}
	.accent{
		color:$theme-accent;
	}
}
.form-group {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 1% 15px 1%;
	width:100%;
  label {
    transition: all 0.3s ease;
    display: inline-block;
    margin: 1.5em 0 0.25em 0;
		font-size:0.75em;
		color: $theme-medium;
		text-align: center;
  }

  input, select, textarea {
    transition: all 0.3s ease;
    //border: 1px solid #eeeeee;
		font-size:1.25em;
    display: block;
    padding: 0.25em 0;
    width: 100%;
		background:none;
		border:0;
		border-bottom:2px solid $theme-medium;
		outline:none;
		text-align: center;
    &:focus {
      outline: none;
      //border-color: #2d8cf0;
			border-bottom:2px solid $theme-accent;

      +label {
        color: $theme-accent;
      }
    }
  }
	textarea{
		//height:250px;
		width:100%;
	}

}
input[type="submit"]{
	transition: all 0.3s ease;
	font-size:1.25em;
	padding:0.5em;
	border-radius: 3em;
	background:$theme-medium;
	border: none;
	outline: none;
	color:white;
	margin:1em auto;
	&:hover{
		background:$theme-accent;
		cursor: pointer;
		cursor: hand;
	}
}
input:-webkit-autofill {
	transition: background-color 5000s ease-in-out 0s;
	//-webkit-text-fill-color: #fff !important;
}
.error{
	color:red;
	margin: 1em 0;
}


.spinner {
  width: 50px;
  height: 50px;
  background-color: #333;
	display:none;
  margin: 200px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
