//==============================================================================
// SASS Variables
//==============================================================================
// Colors
$theme-medium:#282828;
$theme-light:#DDDDDD;
// Fonts
$typeface: 'Montserrat', sans-serif;
$script: 'Kaushan Script', cursive;
$marker: 'Permanent Marker', cursive;
// Font Base





$post-thumb-height:200px;
$footer-height:200px;
$smooth-transition:all ease 0.3s;
//==============================================================================
// Mixins
//==============================================================================
@mixin flex-column{
	display: flex;
	flex-direction: column;
}
@mixin flex-row{
	display: flex;
	flex-direction: row;
}
@mixin flex-center{
	justify-content: center;
	align-items: center;
}
@mixin flex-push{
	flex-grow:1;
}
@mixin flex-wrap{
	flex-wrap:wrap;
}
@mixin hover-hand{
	cursor: pointer;
	cursor: hand;
}
@mixin display-fill{
	width:100%;
	height:100%;
}
//==============================================================================
// Mixin - Classes
//==============================================================================
.flex-push{
	@include flex-push;
}
.flex-col{
	@include flex-column;
}
.flex-center{
	@include flex-center
}
.row{
	@include flex-row;
	width:100%;
}
.dynamic-row{
	@include flex-row;
	@include flex-center;
	width:100%;
}

.smooth-transition{
	transition:$smooth-transition;
}



.right{
	float:right;
}
.left{
	float:left;
}
.clear{
	clear:both;
}


#loading{
	@include flex-column;
	@include flex-center;
	@include display-fill;
	position: fixed;
	top:0;
	left:0;
	background:white;
	z-index: 2000;
	.lds-ripple {
	  display: inline-block;
	  position: relative;
	  width: 64px;
	  height: 64px;
	}
	.lds-ripple div {
	  position: absolute;
	  border: 2px solid $theme-medium;
	  opacity: 1;
	  border-radius: 50%;
	  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	}
	.lds-ripple div:nth-child(2) {
	  animation-delay: -0.5s;
	}
	@keyframes lds-ripple {
	  0% {
	    top: 28px;
	    left: 28px;
	    width: 0;
	    height: 0;
	    opacity: 1;
	  }
	  100% {
	    top: -1px;
	    left: -1px;
	    width: 58px;
	    height: 58px;
	    opacity: 0;
	  }
	}
}


.button{
	display: inline-block;
	transition: $smooth-transition;
	background: $color-dark-300;
	color: $color-light-500;
	text-decoration: none;
	z-index:10;
	&:hover{
		@include hover-hand;
		background: $color-accent-500;
		color: $color-light-500;
		text-decoration: none;
	}
}
.button-rounded{
	font-size: $size-font-base;
	padding: ($size-font-base/2) $size-font-base;
	//height: $size-font-base;
	border-radius: $size-font-base;
	white-space: nowrap;
}
.button-circle{
	font-size: $size-font-base;
	padding: $size-font-base;
	height: $size-font-base;
	width: $size-font-base;
	border-radius: 50%;
	text-align: center;
}

.position--abs-BR{
	position: absolute;
	right:$size-font-base;
}
.position--abs-BL{
	position: absolute; 
	left:$size-font-base;
}
.button-circle.position--abs-BR, .button-circle.position--abs-BL{
	bottom:(($size-font-base+($size-font-base/2))*-1);
}
.button-rounded.position--abs-BR, .button-rounded.position--abs-BL{
	bottom:(($size-font-base)*-1);
}

a{
	transition: $smooth-transition;
	color:$color-medium-900;
}
a:hover{
	@include hover-hand;
	color:$color-accent-500;
}


//==============================================================================
// Main Layout with Stiky Footer
//==============================================================================
body,html{min-height:100vh;min-width:320px;}
body{padding-top:100px;}
.site {
	@include flex-column;
	font-family: $typeface;
	font-size: $size-font-base;
}
main{
	@include flex-row;
	position: relative;
	padding:$white-space-small-percent $white-space-large-percent;
	background: white url('img/sayagata-400px.png') repeat;
  	flex-grow:1;
	margin-bottom: $footer-height;
	z-index: 2;
}
#social{
	@include flex-column;
	@include flex-center;
	padding:$white-space-large-rem;
	position: absolute;
	top:100vh;
	z-index:10;
	a:not(:first-child){
		margin-top:1em;
	}
}
aside{
	position:relative;
	width:20%;
	padding:0 $white-space-small-percent 0 0;
	form.search{
		width:100%;
		@include flex-row;
			input[type=search]{
				display: inline-flex;
				flex-grow: 1;
				margin:0 1em;
				line-height: 2em;
				padding:0.5em;
				border-radius: $white-space-large-rem;
				background: $theme-medium;
				color:white;
				border:none;
				outline:none;
			}
	}
}
footer{
	@include flex-row;
	@include flex-center;
	position: fixed;
	bottom:0;
	height:$footer-height;
	width:84%;
	background: black url('img/pw_maze_black.png') repeat;
	z-index:1;
	color:white;
	display:none;
	text-align: center;
	padding:0 $white-space-large-percent;
	a,a:visited{
		color:white;
	}
	a:hover{
		color:$color-accent-500;;
	}
}
//==============================================================================
// Header - Navigation - Splash
//==============================================================================
header{
	min-height:100px;
	position:fixed;
	top:0px;
	width:100%;
	z-index:100;
	background:white;
	text-overflow: hidden;
	.row{
		width:90%;
		margin:auto;
	}
	.nickname-spill-control{
		height:100px;
		width:100%;
		overflow: hidden;
		position: absolute;
		.nickname{
			width:100%;
			position: absolute;
			top:-0.5em;
			text-align: center;
			font-family: $marker;
			color:rgba(0,0,0,0.03);
			font-size:11em;
		}
	}
	.logo{
		width:150px;
		height:100px;
		img{
			width:100%;
		}
	}
}


#navStandard {
  overflow: hidden;
	a{
		display: inline-block;
		color: black;
		text-align: center;
		margin-left:$white-space-large-rem;
		text-decoration: none;
		height:100px;
		line-height: 100px;
	}
	a:hover {
		color: $color-accent-500;;
	}
	a.active {
		color: $color-accent-500;;
		height:80px;
		line-height: 80px;
		border-bottom:10px solid $color-accent-500;
	}
	a.icon{
		display: none;
		font-size: 1.5em;
	}
}
#navResponsive{
	display:none;
	width:100%;
	position: absolute;
	top:100px;
	z-index:1000;
	a{
		display:block;
		padding: 10px;
		text-align: center;
		background:white;
		text-decoration: none;
		color:black;
	}
}



#splash{
	position: relative;
	height:calc(100vh - 100px);
	width:100%;
	z-index:10;
	background: url('img/splash.jpg');	
	background-position: center;
	background-size:cover;
	background-attachment: fixed;
	transform: translate3d(0,0,0);
}
#splash::after{
	content:'';
	display: inline-block;
	@include display-fill;
	background: url('img/splash_after.png');
	background-position: center;
	background-size:cover;
	z-index:20;
}


#search-bar{
	@include flex-column;
	@include flex-center;
	background: $theme-medium;
	padding:0.5em 0;
	width:100%;
	z-index:15;
	display:none;
	position: fixed;
	.section{
		@include flex-row;
		@include flex-center;
		text-align: center;
		width:100%;
		margin:0.5em 0;
		color:white;
		li.categories{
			list-style: none;
			font-size:1.25em;
			ul::before{
				content:"";
				display:block;
				width:100%;
				height:1px;
				background:#1d1d1d;
			}
			ul{
				margin:0.5em;
				list-style: none;
				border-top:1px solid #2f2f2f;
				li{
					display:inline;
					a{
						transition: $smooth-transition;
						font-size:0.75em;
						text-decoration: none;
						color:#999;
					}
				}
			}
		}
		form{
			width:40%;
			min-width:350px;
			@include flex-row;
			@include flex-center;
		}
	}
	input[type=search]{
		background:$color-dark-500;
		border:0;
		outline:none;
		flex-grow:1;
		margin-right:0.5em;
		color:white;
		font-size:1em;
		padding:0.5em;
		border-radius: 2em;
	}
	button{
		background:none;
		border:0;
		outline:none;
		font-size:1em;
		padding:0.5em;
		color:white;
		margin-right:0.5em;
	}
	button:hover{
		@include hover-hand;
	}
	a{
		font-size:1em;
		padding:0.5em;
		margin-right:0.5em;
		color:white;
	}
	a:hover{
		@include hover-hand;
	}
}
#categories.section{
	display:none;
}
#close-search{
	display:block;
}
//==============================================================================
// Time Fo' Wordpress
//==============================================================================
#skip-splash{
	transition:$smooth-transition;
	width:100%;
	padding:0.75em 0;
	//background:$color-dark-500;
	position: absolute;
	bottom:0;
	left:0;
	margin:0 auto;
	font-size:$size-font-small;
	color:$color-dark-500;
	text-align: center;
	//border-top:$color-dark-900 1px solid;
}
#skip-splash.background{
	color:$color-light-500;
}
#skip-splash:hover{
	color:$color-accent-500;
	font-size:$size-font-large;
}
#skip-splash.background:hover{
	background:$color-alpha-dark-25;
}
.fill{
	position: relative;
	width:100%;
	height: 100%;
}

section{
	@include flex-row;
	@include flex-wrap;
	@include flex-center;
	width:100%;
}

article.loop{
	width:calc(48% - 4px);
	margin:0 0 $white-space-large-rem $white-space-small-percent;
	border:solid 1px $theme-light;
	background:white;
	// Thumbnail
	.post-thumb,.post-no-thumb{
		@include flex-column;
		@include flex-center;
		height:$post-thumb-height;
		background-position: center;
		background-size:cover;
		img{
			width:100%;
		}
	}
	// Post Title
	h2{
		a{
			color:black;
			text-decoration: none;
			line-height:1.75em;
			//font-size: 1.5em;
			font-weight: bold;
			z-index: 3;
		}
	}
	// Post Details
	.post-details{
		@include flex-row;
		width:100%;
		margin:1em 0;
		span{
			@include flex-wrap;
			font-size: 0.75em;
			display:inline-flex;
			flex-grow: 1;
			a{
				margin-left: 0.5em;
			}
		}
		.author{
			justify-content: flex-start;
		}
		.date{
			justify-content: flex-end;
		}
	}
	// Post Body
	.post-body{
		padding:$white-space-large-rem;
		// Post Excerpt
		.post-excerpt{
			padding:$white-space-small-percent 0;
			margin:$white-space-medium-rem 0;
			border-top:1px solid $theme-light;
			border-bottom:1px solid $theme-light;
			line-height:$size-line-height-xxl;
		}
		h2{
			margin:0;
		}
	}
}
.post-header{
	.post-thumb::after{
		@include display-fill;
		transition:$smooth-transition;
		content:'';
		display:block;
		font-family: $marker;
		font-size:$size-h-1-medium;
		line-height: $post-thumb-height;
		text-align:center;
		color: $color-light-500;
		overflow:hidden;
		z-index:5;
	}
}
.post-header:hover{
	.post-thumb::after{
		@include hover-hand;
		content:'Continue Reading...';
		background: $color-alpha-dark-50;
		color: $color-light-500;
		display:block;
	}
}





h1,h2,h3{
	font-weight: bold;
}
h1{
	font-size:2.5em;
	margin:0.75em 0;
}
h2{
	font-size:2em;
	margin:0.75em 0;
}
h3{
	font-size:1.75em;
	margin:0.75em 0;
}
ul,ol{
	li{
		width:90%;
		list-style-position: inside;
		text-indent: -1em;
		padding-left: 1em;
		margin:0.5em auto;
	}
}
ul{
	list-style: disc;
}
ol{
	list-style: lower-roman;
}
strong{
	font-weight: bold;
}
em{
	font-style: italic;
}
blockquote{
	padding:1em;
	margin:1em auto;
	width:80%;
	font-size:1.5em;
	text-align: center;
	font-family: $marker;
}
blockquote::before{
	content:'"';
	font-size: 10em;
	position: absolute;
	top:50%;
	left:0;
	color:rgba(0,0,0,0.15);
	//margin-top:0.25em;
	margin-right:0.25em;
}
blockquote::after{
	content:'"';
	font-size: 10em;
	position: absolute;
	top:50%;
	right:0;
	color:rgba(0,0,0,0.15);
	//margin-top:0.25em;
	margin-right:0.25em;
}
author{
	display:block;
	font-size:0.75em;
}
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
code{
	margin:0.5em auto;
	width:80%;
}
iframe{
	display:block;
	margin:auto;
	width:100%;
}
#footer-cats{
	margin:1em 0;
	padding:1em 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
input[type=search]:-webkit-autofill {
    box-shadow: inset 0 0 0px 9999px $color-dark-500;
}
