//==============================================================================
// SASS Variables
//==============================================================================
// Colors
$theme-white:#FFF;
$theme-dark:#131313;
$theme-medium:#282828;
$theme-light:#DDDDDD;
$theme-accent:#1a98da;
// Fonts
$typeface: 'Montserrat', sans-serif;
$script: 'Kaushan Script', cursive;
$marker: 'Permanent Marker', cursive;
// Font Base
$base-font-size:18px;

$padding-one:4%;
$padding-two:2%;
$padding-three:10%;

$smoothTrans:all ease 0.3s;
//==============================================================================
// Mixins
//==============================================================================
@mixin flex-column{
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}
@mixin flex-row{
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
}
@mixin flex-center{
	justify-content: center;
	align-items: center;
}
@mixin flex-push{
	flex-grow:1;
}
@mixin flex-wrap{
	flex-wrap:wrap;
}
//==============================================================================
// Mixin - Classes
//==============================================================================
.flex-push{
	@include flex-push;
}
.flex-col{
	@include flex-column;
}
.flex-center{
	@include flex-center
}
.row{
	@include flex-row;
	width:100%;
}
.dynamic-row{
	@include flex-row;
	@include flex-center;
	width:100%;
}
.smoothTrans{
	transition:$smoothTrans;
}



.right{
	float:right;
}
.left{
	float:left;
}
.clear{
	clear:both;
}


#loading{
	@include flex-column;
	@include flex-center;
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
	background:white;
	z-index: 2000;
	.lds-ripple {
	  display: inline-block;
	  position: relative;
	  width: 64px;
	  height: 64px;
	}
	.lds-ripple div {
	  position: absolute;
	  border: 2px solid $theme-medium;
	  opacity: 1;
	  border-radius: 50%;
	  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	}
	.lds-ripple div:nth-child(2) {
	  animation-delay: -0.5s;
	}
	@keyframes lds-ripple {
	  0% {
	    top: 28px;
	    left: 28px;
	    width: 0;
	    height: 0;
	    opacity: 1;
	  }
	  100% {
	    top: -1px;
	    left: -1px;
	    width: 58px;
	    height: 58px;
	    opacity: 0;
	  }
	}
}

//==============================================================================
// Main Layout with Stiky Footer
//==============================================================================
body,html{min-height:100vh;min-width:320px;}
body{padding-top:100px;}
.site {
	@include flex-column;
	font-family: $typeface;
	font-size: $base-font-size;
}
main{
	position: relative;
	@include flex-row;
	background: white url('img/sayagata-400px.png') repeat;
  flex-grow:1;
	padding:$padding-two $padding-three;
	margin-bottom: 200px;
	z-index: 2;
	font-size: 16px;
}
#social{
	//width:10em;
	padding:2em;
	//height:auto;
	position: absolute;
	top:100vh;
	z-index:10;
	@include flex-column;
	@include flex-center;
	a{
		transition: $smoothTrans;
		display:block;
		font-size: 1em;
		padding:1em;
		border-radius: 50%;
		background: $theme-medium;
		color:white;
		height:1em;
		width:1em;
		text-align: center;
	}
	a:not(:first-child){
		margin-top:1em;
	}
	a:hover{
		background: $theme-accent;
	}
}
/*
main{
	width:80%;
}

.dynamic-margin{
	margin-left:20%;
}
.dynamic-position{
	position:fixed !important;
	top:calc(100px + 4%);
}
*/
aside{
	position:relative;
	width:20%;
	padding:0 $padding-two 0 0;
	form.search{
		width:100%;
		@include flex-row;
			input[type=search]{
				display: inline-flex;
				flex-grow: 1;
				margin:0 1em;
				line-height: 2em;
				padding:0.5em;
				border-radius: 2em;
				background: $theme-medium;
				color:white;
				border:none;
				outline:none;
			}
	}
}
footer{
	@include flex-row;
	@include flex-center;
	position: fixed;
	bottom:0;
	height:200px;
	width:80%;
	background: black url('img/pw_maze_black.png') repeat;
	z-index:1;
	color:white;
	display:none;
	text-align: center;
	padding:0 10%;
	a,a:visited{
		color:white;
	}
	a:hover{
		color:$theme-accent;
	}
}
//==============================================================================
// Header - Navigation - Splash
//==============================================================================
header{
	min-height:100px;
	//padding:0 $padding-one;
	position:fixed;
	top:0px;
	width:100%;
	z-index:100;
	background:white;
	width:100%;
	text-overflow: hidden;
	//height:100px;
	//z-index: 5;
	.nickname-spill-control{
		height:100px;
		width:100%;
		overflow: hidden;
		position: absolute;
		.nickname{
			width:100%;
			position: absolute;
			top:-0.5em;
			text-align: center;
			font-family: $marker;
			color:rgba(0,0,0,0.03);
			font-size:11em;
		}
	}
	.logo{
		width:150px;
		height:100px;
		margin-left: $padding-one;
		img{
			width:100%;
		}
	}
}


#navStandard {
  overflow: hidden;
	margin-right: $padding-one;
	a{
		display: inline-block;
		color: black;
		text-align: center;
		margin-left:2em;
		text-decoration: none;
		height:100px;
		line-height: 100px;
	}
	a:hover {
		color: $theme-accent;
	}
	a.active {
		color: $theme-accent;
		height:80px;
		line-height: 80px;
		border-bottom:10px solid $theme-accent;
	}
	a.icon{
		display: none;
		font-size: 1.5em;
	}
	a.search{

	}
}
#navResponsive{
	display:none;
	width:100%;
	position: absolute;
	top:100px;
	z-index:1000;
	a{
		display:block;
		padding: 10px;
		text-align: center;
		background:white;
		text-decoration: none;
		color:black;
	}
	a:hover{
		color:$theme-accent;
	}
}
#splash{
	@include flex-column;
	@include flex-center;
	width:100%;
	background: white;
	overflow: hidden;
	z-index:50;
	.fill-image{
		@include flex-column;
		@include flex-center;
		width:900px;
		height:300px;
		img{
			position: absolute;
			width:100%;
			z-index: 1;
			top:0px;
			left:0px;
		}
		/*
		.initials{
			position: absolute;
			font-family:$script;
			font-size:25em;
			color:#FFF;
			opacity:0.05;
			z-index: 2;
			user-select: none;
		}
		*/
		h3{
			color:#FFF;
			font-size:1em;
			text-shadow: black 0.05em 0.05em 0.1em;
			z-index: 3;
		}
	}
}
#splash{
	position: relative;
	height:calc(100vh - 100px);
	width:100%;
	z-index:10;
}
#splash::after{
	content:'';
	height:100%;
	width:100%;
	background: url('img/cover_after.png') repeat;
	z-index:20;
}
#video-splash {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
video {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
}
#caption{
	//@include flex-column;
	//@include flex-center;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:30;
}
#captionText{
	width:100%;
	padding:2rem;
	background:(rgba(255,255,255,0.5));
	h1,h2{
		color:black;
		margin:3rem;
		//font-family: $marker;
		//text-shadow: black 0.04em 0.04em 0.1em;
		z-index: 3;
		text-align: center;
		animation-fill-mode: forwards;
	}
	h1{
		font-family: $marker;
		font-size:2em;
		letter-spacing: 0.25em;
		line-height: 3em;
	}
	h2{
		font-size:0.8em;
		letter-spacing: 1em;
		line-height: 2em;
	}
}

#search-bar{
	@include flex-column;
	@include flex-center;
	background: $theme-medium;
	padding:0.5em 0;
	width:100%;
	z-index:15;
	display:none;
	position: fixed;
	.section{
		@include flex-row;
		@include flex-center;
		text-align: center;
		width:100%;
		margin:0.5em 0;
		color:white;
		li.categories{
			list-style: none;
			font-size:1.25em;
			ul::before{
				content:"";
				display:block;
				width:100%;
				height:1px;
				background:#1d1d1d;
			}
			ul{
				margin:0.5em;
				list-style: none;
				border-top:1px solid #2f2f2f;
				li{
					display:inline;
					a{
						transition: $smoothTrans;
						font-size:0.75em;
						text-decoration: none;
						color:#999;
					}
					a:hover{
						color:$theme-accent;
					}
				}
			}
		}
		form{
			width:40%;
			min-width:350px;
			@include flex-row;
			@include flex-center;
		}
	}
	input[type=search]{
		background:$theme-dark;
		border:0;
		outline:none;
		flex-grow:1;
		margin-right:0.5em;
		color:white;
		font-size:1em;
		padding:0.5em;
		border-radius: 2em;
	}
	button{
		background:none;
		border:0;
		outline:none;
		font-size:1em;
		padding:0.5em;
		color:white;
		margin-right:0.5em;
		//border-radius: 2em;
	}
	button:hover{
		cursor: pointer;
		cursor: hand;
	}
	a{
		font-size:1em;
		padding:0.5em;
		margin-right:0.5em;
		color:white;
	}
	a:hover{
		cursor: pointer;
		cursor: hand;
	}
}
#categories.section{
	display:none;
}
#open-search{
	//display:none;
	//line-height: 2em;
	//text-align: center;
	//padding:0.5em;
	//border-radius: 2em;
	//background: $theme-medium;
	//color:white;
	//width:2em;
	//height:2em;
	//position: fixed;
	//z-index:200;
	//bottom:1em;
	//left:1em;
}
#close-search{
	display:block;
}
//==============================================================================
// Time Fo' Wordpress
//==============================================================================
#skip-splash{
	transition:$smoothTrans;
	width:100%;
	padding:0.75em 0;
	background:rgba(255,255,255,0.75);
	position: absolute;
	bottom:0;
	left:0;
	margin:0 auto;
	font-size:0.75em;
	color:$theme-medium;
	text-align: center;
	border-top:white 1px solid;
}
#skip-splash:hover{
	color:$theme-dark;
	background:rgba(255,255,255,0.95);
}
.fill{
	position: relative;
	width:100%;
	height: 100%;
}

section{
	@include flex-row;
	@include flex-wrap;
	@include flex-center;
	width:100%;
}

article.loop{
	width:calc(48% - 4px);
	margin:0 0 2em $padding-two;
	//border-top:solid 2px #FFF;
	border:solid 1px $theme-light;
	background:white;
	// Thumbnail
	.post-thumb,.post-no-thumb{
		//width:100%;
		@include flex-column;
		@include flex-center;
		height:200px;
		background-position: center;
		background-size:cover;
		img{
			width:100%;
		}
	}
	// Post Comments
	.post-edit-link{
			transition: $smoothTrans;
			display:block;
			position:absolute;
			bottom:-1em;
			right:1em;
			font-size: 1em;
			padding:1em;
			border-radius: 50%;
			background: $theme-medium;
			color:white;
			height:1em;
			width:1em;
			text-align: center;
			z-index:10;
	}
	.post-edit-link:hover{
		background: $theme-accent;
	}
	.comments,.edit,.post-link{
		position: absolute;
		display: inline-block;
		line-height: 2em;
		font-size: 1em;
		border-radius: 1em;
		padding: 0 1em;
		bottom:-1em;
		background: $theme-medium;
		color:white;
		text-decoration: none;
		a{
			color:white;
			text-decoration: none;
		}
	}
	.comments:hover,.edit:hover,.post-link:hover{
			background:$theme-accent;

	}
	.post-link{
		right:1em;
	}
	.comments{
		left:1em;
	}
	.edit{
		right:1em;
	}
	// Post Title
	h2{
		a{
			color:black;
			text-decoration: none;
			line-height:1.75em;
			//font-size: 1.5em;
			font-weight: bold;
			z-index: 3;
		}
	}
	// Post Details
	.post-details{
		@include flex-row;
		//@include flex-center;
		//position: absolute;
		//bottom:0;
		width:100%;
		margin:1em 0;
		//z-index: 3;
		//background: rgba(255,255,255,0.75);
		.post-cats{
		//@include flex-row;
		}
		span{
			@include flex-wrap;
			font-size: 0.75em;
			display:inline-flex;
			flex-grow: 1;
			//line-height: 1em;
			//padding:0.5em;
			a{
				margin-left: 0.5em;
			}
		}
		.author{
			justify-content: flex-start;
		}
		.date{
			justify-content: flex-end;
		}
	}
	// Post Body
	.post-body{
		padding:2em;
		// Post Excerpt
		.post-excerpt{
			padding:$padding-two 0;
			margin:1em 0;
			border-top:1px solid $theme-light;
			border-bottom:1px solid $theme-light;
			line-height:1.75em;
		}
		h2{
			margin:0;
		}
	}
}
.post-header{
	.post-thumb::after{
		transition:$smoothTrans;
		content:'';
		display:block;
		font-family: $marker;
		font-size:2em;
		line-height: 200px;
		text-align:center;
		color:black;
		overflow:hidden;
		width:100%;
		height:100%;
		z-index:5;
		background:rgba(255,255,255,0);
	}
}
.post-header:hover{
	.post-thumb::after{
		content:'Continue Reading...';
		background:rgba(255,255,255,0.55);
		display:block;
		cursor: pointer;
		cursor: hand;
	}
}



a:hover{
	color:$theme-accent;
	text-decoration: underline;
}


h1,h2,h3{
	font-weight: bold;
	//margin:0.5em 0;
}
h1{
	font-size:2.5em;
	margin:0.75em 0;
}
h2{
	font-size:2em;
	margin:0.75em 0;
}
h3{
	font-size:1.75em;
	margin:0.75em 0;
}
ul,ol{
	li{
		width:90%;
		list-style-position: inside;
		text-indent: -1em;
		padding-left: 1em;
		margin:0.5em auto;
	}
}
ul{
	list-style: disc;
}
ol{
	list-style: lower-roman;
}
strong{
	font-weight: bold;
}
em{
	font-style: italic;
}
blockquote{
	padding:1em;
	margin:1em auto;
	width:80%;
	font-size:1.5em;
	text-align: center;
	font-family: $marker;
}
blockquote::before{
	content:'"';
	font-size: 10em;
	position: absolute;
	top:50%;
	left:0;
	color:rgba(0,0,0,0.15);
	//margin-top:0.25em;
	margin-right:0.25em;
}
blockquote::after{
	content:'"';
	font-size: 10em;
	position: absolute;
	top:50%;
	right:0;
	color:rgba(0,0,0,0.15);
	//margin-top:0.25em;
	margin-right:0.25em;
}
author{
	display:block;
	font-size:0.75em;
}
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
code{
	margin:0.5em auto;
	width:80%;
}
iframe{
	display:block;
	margin:auto;
	width:100%;
}
#footer-cats{
	margin:1em 0;
	padding:1em 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
input[type=search]:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px $theme-dark;
}
