/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

	#caption{
		h1{
			font-size: 5em;
		}
		h2{
			font-size:2em;
		}
	}

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS
	header{
		.nickname-spill-control{
			.nickname{
				font-size: 5em;
				top:-0.25em;
			}
		}
	}

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

	//CSS
	header{
		.nickname-spill-control{
			.nickname{
				font-size: 5em;
				top:-0.25em;
			}
		}
	}

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {



}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

	//CSS
	header{
		.nickname-spill-control{
			.nickname{
				font-size: 4em;
				top:-0.15em;
			}
		}
	}

	#caption{
		h1{
			font-size:3em;
			text-shadow: black 0.05em 0.05em 0.1em;
		}
		h2{
			font-size:1.25em;
			text-shadow: black 0.05em 0.05em 0.1em;
		}
	}

	// Navigation
	#navStandard {
		a{
			display: none;
		}
		a.icon,a.search{
			display: inline-block;
		}
	}

	// Main
	section{
		@include flex-column;
		//@include flex-wrap;
		//@include flex-center;
		//width:100%;
	}
	article.loop{
		width:calc(98% - 4px);
	}

	#single-post-header{
		.post-details{
			@include flex-column;
			span{
				margin:0.2em 0;
			}
		}
	}

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (max-width: 480px) {

	header{
		.nickname-spill-control{
			.nickname{
				display:none;
			}
		}
	}


	// Navigation
	#navStandard {
		a{
			display: none;
		}
		a.icon,a.search{
			display: inline-block;
			margin-left:1em;
		}
	}
	#navResponsive{
		//display:inline-block;
		//height:0px;
	}

	// Splash
	#video-splash {
		left: -90%;
	}

	#caption{
		h1{
			font-size:2.25em;
			text-shadow: black 0.05em 0.05em 0.1em;
		}
		h2{
			font-size:1.25em;
			text-shadow: black 0.05em 0.05em 0.1em;
		}
	}

	// Main
	section{
		@include flex-column;
		//@include flex-wrap;
		//@include flex-center;
		//width:100%;
	}
	article.loop{
		width:calc(98% - 4px);
		.comments,.post-link{
			font-size:0.8em;
		}
	}
	#single-post-header{
		.post-details{
			@include flex-column;
			span{
				margin:0.2em 0;
			}
		}
	}

	.post-header:hover{
		.post-thumb::after{
			font-size:1.5em;
		}
	}
	h1{
		font-size:1.7em;
	}
	h2{
		font-size:1.5em;
	}

	#page-header{
		h1{
			top:0.5em;
		}
	}

	.dynamic-row{
		@include flex-column;
		@include flex-center;
		width:100%;
	}
	.form-group{
		margin:25px 1% 15px 1%;
	}

}
