main.wp-page{
	min-height:calc(100vh - 100px);
	padding:0;
	article{
		//display: flex;
		min-height:100%;
		width:100%;
	}
}
#page-header{
	background: black url('img/pw_maze_black.png') repeat;
	position: fixed;
	top:100px;
	z-index:100;
	width:100%;
	min-height:100px;
	// Post Title
	h1{
		text-align: center;
		padding:0.25em 0;
		margin:0;
		font-family: $marker;
		a{
			//font-size: 2.5em;
			color:white;
			text-decoration: none;
		}
	}
// Edit
.post-edit-link{
	display:block;
	position:absolute;
	bottom:-1em;
	right:1em;
	font-size: 1em;
	padding:1em;
	border-radius: 50%;
	background: $theme-medium;
	color:white;
	height:1em;
	width:1em;
	text-align: center;
}
}
