main.wp-page{
	min-height:calc(100vh - 100px);
	padding:0;
	article{
		@include display-fill;
		min-height:100%;
	}
}
#page-header{
	background: black url('img/pw_maze_black.png') repeat;
	z-index:10;
	width:100%;
	min-height:100px;
	// Post Title
	h1{
		text-align: center;
		padding:0.25em 0;
		margin:0;
		font-family: $marker;
		a{
			//font-size: 2.5em;
			color:white;
			text-decoration: none;
		}
	}
	// Edit
	/*
	.post-edit-link{
			transition: $smooth-transition;
			display:block;
			position:absolute;
			bottom:-1em;
			right:1em;
			font-size: 1em;
			padding:1em;
			border-radius: 50%;
			background: $theme-medium;
			color:white;
			height:1em;
			width:1em;
			text-align: center;
			z-index:10;
	}
	.post-edit-link:hover{
		background: $color-accent-500;
	}
	*/
}

#construction{
	@include display-fill;
	background:url('img/construction.jpg') no-repeat;
	background-size: cover;
}
#construction::after{
	@include display-fill;
	background:rgba(0,0,0,0.5);
	@include flex-column;
	@include flex-center;
	content:'In the Werks...';
	font-family: $marker;
	font-size: 3em;
	color:white;
	z-index:10;
}
