.header-push{
	width:100%;
	height:100px;
}
main.single{
	article.single{
		width:100%;
		line-height: 2.25em;
		letter-spacing: 0.1em;
	}
	img.full{
		width:100%;
	}
}
#single-post-header{
	background: black url('img/pw_maze_black.png') repeat;
	position: fixed;
	top:100px;
	z-index:50;
	width:100%;
	// Post Title
	h3{
		text-align: center;
		font-family: $marker;
		margin:0.25em 0;
		a{
			transition:$smooth-transition;
			color:white;
			text-decoration: none;
		}
		a:hover{
			color:$color-accent-500;
		}
	}
	// Post Details
	.post-details{
		@include flex-row;
		@include flex-center;
		font-size: 0.75em;
		//padding:0;
		span{
			@include flex-row;
			@include flex-center;
			@include flex-push;
			color:white;
			a{
				transition:$smooth-transition;
				color:white;
				text-decoration: none;
			}
			a:hover{
				color:$color-accent-500;
			}
			i{
				margin-left:0.5em;
			}
		}
		span.author a{
			margin-left:0.5em;
		}
	}
	// Edit
	.post-edit-link{
		transition: $smooth-transition;
		display:block;
		position:absolute;
		bottom:-2.25em;
		right:1em;
		font-size: 1em;
		padding:1em;
		border-radius: 50%;
		background: $theme-medium;
		color:white;
		height:1em;
		width:1em;
		text-align: center;
		z-index: 2;
	}
	.post-edit-link:hover{
		background: $color-accent-500;
	}
}
// Splash
.post-thumb-full{
	@include display-fill;
	background:#FFF;
	background-position: center;
	background-size:cover;
	//background-attachment: fixed;
	position: relative;
	//top:calc(100px + 1em);
	margin-bottom:100px;
	z-index:2;
	opacity:0;
	img{
		width:100%;
	}
}
#toggle-header:hover{
	color:$color-accent-500;
	background:rgba(0,0,0,0.75);
}
#toggle-header{
	transition:$smooth-transition;
	text-decoration: none;
	display:block;
	width:100%;
	font-size:0.5em;
	text-align:center;
	color:white;
	padding:0.5em 0;
	margin-top:0.5em;
	background:rgba(0,0,0,0.25);
}
#single-post{
	a.highlighted{
		transition: $smooth-transition;
		background: $theme-light;
		color:black;
		padding:0.25em 0.5em;
	}
	a.highlighted:hover{
		background: $theme-medium;
		color:$color-accent-500;
	}
}
